@import "tailwindcss";

@theme {
  --color-ice-50: #f0f9ff;
  --color-ice-100: #e0f2fe;
  --color-ice-200: #bce1ff;
  --color-ice-300: #7dd3fc;
  --color-ice-400: #38bdf8;
  --color-ice-500: #0ea5e9;
  --color-ice-600: #0284c7;
  --color-ice-700: #0369a1;
  --color-ice-800: #075985;
  --color-ice-900: #0c4a6e;
  
  --color-snow: #f8fafc;

  --font-fantasy: "Cinzel", serif;
  --font-sans: "Inter", sans-serif;

  --image-hero-gradient: linear-gradient(to bottom, #0c4a6e, #0284c7);
}

@layer base {
  body {
    @apply bg-slate-950 text-white font-sans overflow-x-hidden;
  }
}
